body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bienvenida-container {
  text-align: center;
  background: #1e1e1e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 10px;
  color: #00bcd4;
}

p {
  margin-bottom: 30px;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #00bcd4;
  color: #121212;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0097a7;
}

.descripcion {
  margin-top: 10px;
  font-size: 1rem;
  color: #ffffff;
  text-align:justify;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}
.boton-regresar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #00bcd4;
  color: #121212;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.boton-regresar:hover {
  background-color: #0097a7;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('portadas/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.cita{
  margin-top: 10px;
  font-size: 1rem;
  color: #948b8b;
  text-align:center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}
