body {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background: #121212;
  color: #e0e0e0;
  text-align: center;
}

h1 {
  color: #00bcd4;
  margin-bottom: 30px;
}

.catalogo {
  display: flex;
   flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video {
  max-width: 700px;            /* limita el ancho, puedes probar con 600px, 500px, etc. */
  margin: 30px auto;           /* centra el cuadro horizontalmente y añade separación vertical */
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.video h3 {
  color: #00bcd4;
  text-align: center;
}

.video iframe {
  width: 100%;                 /* hace que el video se ajuste al ancho del contenedor */
  height: 315px;               /* altura estándar de video, ajusta según quieras */
  border-radius: 8px;
}

.descripcion-video {
  text-align: justify;
  margin-top: 15px;
  color: #e0e0e0;
  font-size: 14px;
  line-height: 1.5;
}

.video-info {
  text-align: justify;
  margin-top: 10px;
  color: #bbb;
  font-size: 13px;
}
.boton-regresar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #00bcd4;
  color: #121212;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.boton-regresar:hover { /*activa el punto reo del mose al señalar cmabia de color*/
  background-color: #0097a7;
}
#buscador {
  display: block;
  width: 60%;
  max-width: 500px;
  margin: 0 auto 40px auto;
  padding: 12px 20px;
  font-size: 18px;
  border: 2px solid #00bcd4;
  border-radius: 25px;
  background: #1e1e1e;
  color: #e0e0e0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}




